version: "3.9"

services:
  php:
    build: ./docker/php/
    networks:
      - backend
    volumes:
      - ./:/var/www/html/
    env_file:
      - .env
  apache:
    build: ./docker/apache/
    depends_on:
      - php
      - mysql
    networks:
      - frontend
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html/
  mysql:
    build: ./docker/mysql/
    ports:
      - "2231:3306"
    networks:
      - backend
    volumes:
      - mysql-data:/var/lib/mysql
    env_file:
      - .env

networks:
  frontend:
  backend:

volumes:
  mysql-data: